{
	admin off
	frankenphp {
		num_threads {$FRANKENPHP_NUM_THREADS:8}
	}
	auto_https off
}

:{$UNITEC_PORT:8765} {
	bind {$UNITEC_BIND:0.0.0.0}
	root * {$UNITEC_PUBLIC:public/}
	encode gzip
	php_server
	file_server
}
